h1{
 font-family: "Helvetica";
  text-align: center;
}
p{
 font-size: 20px; color: brown;
  text-align: center;
}

body{
  background-image: url(http://static.comicvine.com/uploads/original/14/146226/3107092-9282131291-IMG7-.png);
}
.container{
 width: 500px;
  padding: 30px;
  margin: 0 auto;
}
a:hover{
color: black;  
}
a{
text-decoration: none;
  color: red;
}