h1{
  text-align: center;
  font-size: 70px;
  color: white;
  opacity: 0.5;
  font-family: Ludia Blackletter;
}
p{
 font-size: 20px; color: brown;
  text-align: center;
}

body{
  background-image: url(http://static.comicvine.com/uploads/original/14/146226/3107092-9282131291-IMG7-.png);
  background-attachment: fixed;
}
.container{
 width: 500px;
  padding: 30px;
  margin: 0 auto;
}
a:hover{
color: white; 
  font-family: Vivaldi;
}
a{
text-decoration: none;
  color: black;
}
.menu {
width: 200px;
  height: 50px;
  background-color: #181818; 
  border-radius: 5px;
  font-size: 30px;
  text-align: center;
  display: inline-block;
  border: 5px #00334c solid;
  scroll: fixed;
}
.characters{
width: 700px;
  height: 400px;
  border: 5px brown solid;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  border-radius: 5px;
  text-align: center;
  background-color: white;
  opacity: 0.5;
  font-size: 50px;
}